@charset "UTF-8";

* {box-sizing: border-box}

body {
  background-color: #ffbf00;
}

h1, h2, h3, h4 {
  color: #edf4ff;
  font-family: 'Permanent Marker', cursive;
}

i {
color: #ffbf00;
}

nav {
  background-color: #ffbf00;
}


a {
  color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
  color: #ffbf00;
}

a h2:hover {
  color: #ffbf00;
}

form {
  padding-top: 3em;
  padding-bottom: 1em;
}

footer {
  background-color: #ffbf00;
  height: 80px;
}

footer p {
  padding-top: 1.75em;
}

.blue-text {
  color: #082e44;
}

.container{
padding-top: 2em;
padding-bottom: 4em;
}

.headline{
  padding: 1em;
}

.scroll {
    width: 100%;
    height: 300px;
    overflow: auto;
}

.tablink {
    background-color: #ffbf00;
    color: white;
    float: left;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: #748091;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding-top: 200px;
}

.park {
  background-image: url("../images/park.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.party {
  background-image: url("../images/party-scene.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.beach {
  background-image: url("../images/beach-scene.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-header span {
  padding-left: .5em;
  padding-right: .5em;
}

#gamePara {
    padding-bottom: .5em;
}

#gameBG {
  background-color: #ffbf00;
  padding-top: 5em;
  padding-bottom: 8em;
}

#scene {
  position: relative;
}

#sceneBtns {
  position: absolute;
  top: 15px;
  right: 50px;
}

#landing {
  background-image: url('../images/beach-scene.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#landingContent {
padding: 16em 2em 16em 2em;
}

#helloMessage {
  color: black;
  font-size: 5em;
}

#about {
  background-color: #b5395c;
}

#portfolio {
  background-color: #082e44;
  padding-bottom: 200px;
}

#contact {
  background-color: #748091;
  padding-bottom: 250px;
}

#phone {
  padding-bottom: 2em;
}

#techSkills {
  padding-top: 5em;
  padding-bottom: 7em;
  color: white;
}

#aboutContent {
  padding-bottom: 5em;
}

/* //////////photo filter hover over with text//////////// */
.imgFilter {
  position: relative;
  padding-bottom: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffbf00;
}

.imgFilter:hover .overlay {
  opacity: 1;
}

.textFilter {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* /////////end of photo filter/////// */
